Cython==0.21.1
SQLAlchemy==0.6.9
argparse==1.1
chardet==2.1.1
cjklib==0.3.2
coverage==3.7.1
fuzzywuzzy==0.3.3
ipython==2.3.0
jianfan==0.0.1
jieba==0.29
lxml==3.4.0
mafan==0.2.6
mock==1.0.1
nose==1.3.4
python-Levenshtein==0.11.2
python-cjson==1.1.0
wxPython==3.0.1.1
wxPython-common==3.0.1.1
